:host {
  display: block;
}

:host(.main-header) {
  .link {
    color: #fff;

    &_active {
      color: var(--primary);
    }
  }

  .user {
    color: var(--text-contrast);
  }
}

.header {
  display: flex;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.link {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondary);

  &_active {
    color: var(--text);
  }
}

.user {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  margin-left: auto;
  color: var(--text);
  font-weight: 700;
}

.user-avatar {
  width: 56px;
  height: 56px;
  background-color: #e8e8e866;
  border-radius: 28px;
  border: 1px solid #ffffff80;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu {
  display: flex;
  margin-top: 4px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--card-border);
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  min-width: 200px;
}

.user-data {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: left;
  margin: 0 auto;
}

.user-name {
  margin-bottom: 4px;
  text-align: center;
}

.user-email {
  color: var(--secondary);
  font-size: 14px;
}

.user-role {
  color: var(--secondary);
  font-size: 13px;
  margin-bottom: 16px;
}

.auth-button {
  margin: 0 auto;
}

.managing {
  text-align: left;
  margin-bottom: 16px;
  font-size: 13px;
  color: var(--text);

  &:hover {
    text-decoration: underline;
  }
}
