:host {
  display: block;
}

.pagination {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  cursor: pointer;
  font-weight: 500;
  color: var(--primary);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--primary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.pagination-state {
  display: inline-block;
  text-align: center;
  width: 40px;
  color: var(--primary);
}
